@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import "tailwindcss";

*{
  font-family: "Fjalla One", sans-serif;
}

@theme{
--color-primary: #1864ab;
--color-primary-soft: #74c0fc;
--color-light: #e9f1f8;
--color-border: #c3d6ea;
}